@font-face {
    font-family: metropolis;
    src: url(Metropolis-Regular.otf);
    
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:metropolis;
}

.gallery{
    width:1300px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-gap:0.5rem; */
    padding:10px;
    flex:none;
    
}

.gallery div span{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 10px 24px 0px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    border-radius: 10px;
    padding: 30px 20px;
    width: 280px;
}

.gallery div img{
   /* padding-top: 40px; */
    width:50%;
    /* border: 1px solid red; */
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}

#backBtn{
    rotate: 180deg;
   cursor: pointer;
}
#nextBtn{
    cursor: pointer;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .gallery div{
        width:100%;
        display: grid;
        grid-template-columns: auto auto ;
        grid-gap:10px;
        padding:10px;
        flex:none;
    }
    .gallery{
        width:500px;
        display: flex;
        overflow-x: scroll;
    }

    .vl{
        display: none;
    }

    .modal {
        width: 100%;
    }
    
    .modal-profile{
        flex-direction: column;
    }

    /* .gallery {
        width: 90vw;
        max-width: 100%;
    } */

    #backBtn, #nextBtn {
        width: 30px;
    }
}

.gallery-content{
    display: flex !important; 
    flex-direction: column;
    align-items: center  ;
    justify-content: center;
    gap: 2px !important;
}

.gallery-content h2{
    margin-bottom:16px;
    font-family: metropolis-bold;
}

.gallery-content h4{
    font-size: 1rem;
}
.gallery-content p, #modalCompany{
    color: rgba(107, 107, 107, 0.715);
    margin-top: 0.4rem;
    font-size: 0.9rem;
}

header{
    margin-top: 3rem;
    text-align: center;
}

@font-face {
    font-family: metropolis-bold;
    src: url(Metropolis-Bold.otf);
}

header div h1{
  font-family: metropolis-bold;
   font-weight: 800;
}

header div p{
     font-weight: 400;
     color: rgba(0, 0, 0, 1);
     margin-top: 4px;
  }

header a{
text-decoration: none;
}


.call-to-action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.call-to-action-section button{
    background-color:  rgba(0, 63, 180, 1);
    padding: 1rem 6rem;
    color: white;
    border-radius: 4px;
    border: none;
    
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.call-to-action-section p{
    position: absolute;
    font-family: "Work Sans", sans-serif;
    top: 20px;
    left: 470px;
    font-size: 1.1rem;
    /* border: 1px solid red; */
}

.call-to-action-section img{
    position: absolute;
    top: 60px;
    left: 570px;
} 

/* Modal styling */

.modal-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    

}

.modal {
    width: 81%;
    display: none;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 4px 10px 24px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    /* border: 1px solid #333; */
    /* background-color: #000000; */
  }
  
  .vl {
    width: 10px;
    border-left: 1px solid rgba(183, 183, 183, 1);
    height: 100px;
  }

#modalName{
    margin: 1rem 0;
    font-weight: 800;
    font-family: metropolis-bold ;
}
  .modal-profile{
    display: flex;
    align-items: center;
    gap:1rem;
    /* flex-wrap: wrap; */
  
  }

  
  
  .modal-profile-details{
    width: 70%;
    /* margin: 3rem; */
    /* border: 1px solid red; */
  }
  .close-btn {
    float: right;
    font-size: 30px;
    cursor: pointer;
  }

  .modal-profile-icons{
    /* border: 1px solid green; */
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
  }

